<div class="blog">

  <div class="container">

    <div class="blog-container has-scrollbar">

      <% blogs.forEach(blog => { %>
        <div class="blog-card">
  
          <a href="/blogs/<%=blog._id%>/<%=blog.slug%>">
            <div class="blog-banner">
              <img src="<%= blog.banner.url %>" alt="<%= blog.banner.alt %>" width="300" class="blog-banner-img">
            </div>
          </a>
  
          <div class="blog-content">
  
            <a href="/blogs/<%=blog._id%>/<%=blog.slug%>" class="blog-title"><%= blog.title %></a>
  
            <a href="/blogs/<%=blog._id%>/<%=blog.slug%>">
              <h3 class="blog-summary"><%= blog.summary %></h3>
            </a>
  
            <p class="blog-meta">
              Bởi <cite><%= blog.createdBy %></cite> / <time datetime="<%= blog.createdAt %>"><%= helper.formatDateTime(blog.createdAt) %></time>
            </p>
  
          </div>
  
        </div>
      <% }); %>

    </div>

  </div>

</div>