<!-- FOOTER -->

<footer>

  <div class="footer-category">
    <div class="container">

      <h2 class="footer-category-title">Danh Mục</h2>

      <% if (categories) { %>
      <% categories.filter(category => !category.group).forEach( groupCate => { %>
      <div class="footer-category-box">

        <a class="category-box-title" href="/products/<%= groupCate.slug %>"><%= groupCate.title %> :</a>

        <% categories.filter(category => category.group && category.group === groupCate.title).forEach( category=> { %>
        <a href="/products/<%= category.slug %>" class="footer-category-link"><%= category.title %></a>
        <% }) %>
      </div>
      <% }) %>
      <% } %>

    </div>
  </div>

  <div class="footer-nav">

    <div class="container">

      <ul class="footer-nav-list">

        <li class="footer-nav-item">
          <h2 class="nav-title">Danh Mục Phổ Biến</h2>
        </li>

        <% categories.filter(category => category.group).forEach( (category, index)=> { if(index <= 4) { %>
          <li class="footer-nav-item">
            <a href="/products/<%= category.slug %>" class="footer-nav-link"><%= category.title %></a>
          </li>
        <% }}) %>

      </ul>

      <ul class="footer-nav-list">

        <li class="footer-nav-item">
          <h2 class="nav-title">Các Sản Phẩm</h2>
        </li>

        <li class="footer-nav-item">
          <a href="/products?filter=new-arrivals" class="footer-nav-link">Hàng Mới Đến</a>
        </li>

        <li class="footer-nav-item">
          <a href="/products?filter=trending" class="footer-nav-link">Xu Hướng</a>
        </li>

        <li class="footer-nav-item">
          <a href="/products?filter=top-rated" class="footer-nav-link">Đánh Giá Cao</a>
        </li>

        <li class="footer-nav-item">
          <a href="/products?filter=best-seller" class="footer-nav-link">Bán Chạy</a>
        </li>

        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Khuyến Mãi Hot</a>
        </li>

      </ul>

      <ul class="footer-nav-list">

        <li class="footer-nav-item">
          <h2 class="nav-title">Thông Tin</h2>
        </li>

        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Thanh Toán</a>
        </li>

        <li class="footer-nav-item">
          <a href="/pages/shipping-policy" class="footer-nav-link">Giao Hàng</a>
        </li>

        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Hoàn Trả</a>
        </li>

        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Đăng Ký Bán Hàng</a>
        </li>

        <li class="footer-nav-item">
          <a href="/pages/about-us" class="footer-nav-link">Về Chúng Tôi</a>
        </li>

      </ul>

      <ul class="footer-nav-list">

        <li class="footer-nav-item">
          <h2 class="nav-title">Các Trang Khác</h2>
        </li>

        <li class="footer-nav-item">
          <a href="/blogs" class="footer-nav-link">Blog</a>
        </li>

        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Ưu Đãi</a>
        </li>

        <li class="footer-nav-item">
          <a href="/pages/contact-us" class="footer-nav-link">Liên Hệ với chúng tôi</a>
        </li>

        <li class="footer-nav-item">
          <a href="/pages/careers" class="footer-nav-link">Việc Làm</a>
        </li>

      </ul>

      <ul class="footer-nav-list">

        <li class="footer-nav-item">
          <h2 class="nav-title">Liên Hệ</h2>
        </li>

        <li class="footer-nav-item flex">
          <div class="icon-box">
            <ion-icon name="location-outline"></ion-icon>
          </div>

          <address class="content">
            7 District, Ho Chi Minh City, Viet Nam
          </address>
        </li>

        <li class="footer-nav-item flex">
          <div class="icon-box">
            <ion-icon name="call-outline"></ion-icon>
          </div>

          <a href="tel:+840123456789" class="footer-nav-link">(+84) 0123-456-489</a>
        </li>

        <li class="footer-nav-item flex">
          <div class="icon-box">
            <ion-icon name="mail-outline"></ion-icon>
          </div>

          <a href="mailto:admin@nongsanmiennam.com" class="footer-nav-link normal">admin@nongsanmiennam.com</a>
        </li>

      </ul>

      <ul class="footer-nav-list">

        <li class="footer-nav-item">
          <h2 class="nav-title">Theo Dõi Chúng Tôi</h2>
        </li>

        <li>
          <ul class="social-link">

            <li class="footer-nav-item">
              <a href="#" class="footer-nav-link">
                <ion-icon name="logo-facebook"></ion-icon>
              </a>
            </li>

            <li class="footer-nav-item">
              <a href="#" class="footer-nav-link">
                <ion-icon name="logo-twitter"></ion-icon>
              </a>
            </li>

            <li class="footer-nav-item">
              <a href="#" class="footer-nav-link">
                <ion-icon name="logo-linkedin"></ion-icon>
              </a>
            </li>

            <li class="footer-nav-item">
              <a href="#" class="footer-nav-link">
                <ion-icon name="logo-instagram"></ion-icon>
              </a>
            </li>

          </ul>
        </li>

      </ul>

    </div>

  </div>

  <div class="footer-bottom">

    <div class="container">

      <img src="/images/payment.png" alt="payment method" class="payment-img">

      <p class="copyright">
        Copyright &copy; <a href="#">AnhPT</a> all rights reserved.
      </p>

    </div>

  </div>

</footer>


<!-- custom js link -->
<script src="/js/script.js"></script>
<script src="/js/main.js"></script>

<!-- ionicon link -->
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>