<div class="product-minimal">

  <!-- New Arrivals -->
  <div class="product-showcase">
    <h2 class="title">Hàng Mới Đến</h2>

    <div class="showcase-wrapper has-scrollbar">

      <div class="showcase-container">
        <% newArrivalsProducts.forEach((product, index) => { %>
          <% if(index < 4) { %>
        <div class="showcase">
          <a href="/products/<%=product.category.slug%>/<%=product._id%>" class="showcase-img-box">
            <img src="<%= product.imagePath %>" alt="<%= product.title %>" width="70" height="80" class="showcase-img">
          </a>

          <div class="showcase-content">

            <a href="/products/<%=product.category.slug%>/<%=product._id%>">
              <h4 class="showcase-title"><%= product.title %></h4>
            </a>

            <a href="/products/<%=product.category.slug%>" class="showcase-category"><%=product.category.title%></a>

            <div class="price-box">
              <% if (product.discount && product.discount> 0) { %>
                <span class="price">
                  <%=helper.addCommasToNumber(product.price - (product.price * (product.discount / 100)))%>
                </span>
                <del>
                  <%= helper.addCommasToNumber(product.price) %>
                </del>
                <% } else { %>
                  <span class="price">
                    <%=helper.addCommasToNumber(product.price)%>
                  </span>
                  <% } %>
            </div>

          </div>
        </div>
        <% } %>
        <% }) %>
      </div>

      <div class="showcase-container">
        <% newArrivalsProducts.forEach((product, index) => { %>
          <% if(index >= 4) { %>
        <div class="showcase">
          <a href="/products/<%=product.category.slug%>/<%=product._id%>" class="showcase-img-box">
            <img src="<%= product.imagePath %>" alt="<%= product.title %>" width="70" height="80" class="showcase-img">
          </a>

          <div class="showcase-content">

            <a href="/products/<%=product.category.slug%>">
              <h4 class="showcase-title"><%= product.title %></h4>
            </a>

            <a href="/products/<%=product.category.slug%>/<%=product._id%>" class="showcase-category"><%=product.category.title%></a>

            <div class="price-box">
              <% if (product.discount && product.discount> 0) { %>
                <span class="price">
                  <%=helper.addCommasToNumber(product.price - (product.price * (product.discount / 100)))%>
                </span>
                <del>
                  <%= helper.addCommasToNumber(product.price) %>
                </del>
                <% } else { %>
                  <span class="price">
                    <%=helper.addCommasToNumber(product.price)%>
                  </span>
                  <% } %>
            </div>

          </div>
        </div>
        <% } %>
        <% }) %>
      </div>

    </div>
  </div>


  <!-- Trending -->
  <div class="product-showcase">
    <h2 class="title">Xu Hướng</h2>

    <div class="showcase-wrapper has-scrollbar">

      <div class="showcase-container">
        <% trendingProducts.forEach((product, index) => { %>
          <% if(index < 4) { %>
        <div class="showcase">
          <a href="/products/<%=product.category.slug%>/<%=product._id%>" class="showcase-img-box">
            <img src="<%= product.imagePath %>" alt="<%= product.title %>" width="70" height="80" class="showcase-img">
          </a>

          <div class="showcase-content">

            <a href="/products/<%=product.category.slug%>/<%=product._id%>">
              <h4 class="showcase-title"><%= product.title %></h4>
            </a>

            <a href="/products/<%=product.category.slug%>" class="showcase-category"><%=product.category.title%></a>

            <div class="price-box">
              <% if (product.discount && product.discount> 0) { %>
                <span class="price">
                  <%=helper.addCommasToNumber(product.price - (product.price * (product.discount / 100)))%>
                </span>
                <del>
                  <%= helper.addCommasToNumber(product.price) %>
                </del>
                <% } else { %>
                  <span class="price">
                    <%=helper.addCommasToNumber(product.price)%>
                  </span>
                  <% } %>
            </div>

          </div>
        </div>
        <% } %>
        <% }) %>
      </div>

      <div class="showcase-container">
        <% trendingProducts.forEach((product, index) => { %>
          <% if(index >= 4) { %>
        <div class="showcase">
          <a href="/products/<%=product.category.slug%>/<%=product._id%>" class="showcase-img-box">
            <img src="<%= product.imagePath %>" alt="<%= product.title %>" width="70" height="80" class="showcase-img">
          </a>

          <div class="showcase-content">

            <a href="/products/<%=product.category.slug%>">
              <h4 class="showcase-title"><%= product.title %></h4>
            </a>

            <a href="/products/<%=product.category.slug%>/<%=product._id%>" class="showcase-category"><%=product.category.title%></a>

            <div class="price-box">
              <% if (product.discount && product.discount> 0) { %>
                <span class="price">
                  <%=helper.addCommasToNumber(product.price - (product.price * (product.discount / 100)))%>
                </span>
                <del>
                  <%= helper.addCommasToNumber(product.price) %>
                </del>
                <% } else { %>
                  <span class="price">
                    <%=helper.addCommasToNumber(product.price)%>
                  </span>
                  <% } %>
            </div>

          </div>
        </div>
        <% } %>
        <% }) %>
      </div>

    </div>
  </div>


  <!-- Top Rated -->
  <div class="product-showcase">
    <h2 class="title">Đánh Giá Cao</h2>

    <div class="showcase-wrapper has-scrollbar">

      <div class="showcase-container">
        <% topRatedProducts.forEach((product, index) => { %>
          <% if(index < 4) { %>
        <div class="showcase">
          <a href="/products/<%=product.category.slug%>/<%=product._id%>" class="showcase-img-box">
            <img src="<%= product.imagePath %>" alt="<%= product.title %>" width="70" height="80" class="showcase-img">
          </a>

          <div class="showcase-content">

            <a href="/products/<%=product.category.slug%>/<%=product._id%>">
              <h4 class="showcase-title"><%= product.title %></h4>
            </a>

            <a href="/products/<%=product.category.slug%>" class="showcase-category"><%=product.category.title%></a>

            <div class="price-box">
              <% if (product.discount && product.discount> 0) { %>
                <span class="price">
                  <%=helper.addCommasToNumber(product.price - (product.price * (product.discount / 100)))%>
                </span>
                <del>
                  <%= helper.addCommasToNumber(product.price) %>
                </del>
                <% } else { %>
                  <span class="price">
                    <%=helper.addCommasToNumber(product.price)%>
                  </span>
                  <% } %>
            </div>

          </div>
        </div>
        <% } %>
        <% }) %>
      </div>

      <div class="showcase-container">
        <% topRatedProducts.forEach((product, index) => { %>
          <% if(index >= 4) { %>
        <div class="showcase">
          <a href="/products/<%=product.category.slug%>/<%=product._id%>" class="showcase-img-box">
            <img src="<%= product.imagePath %>" alt="<%= product.title %>" width="70" height="80" class="showcase-img">
          </a>

          <div class="showcase-content">

            <a href="/products/<%=product.category.slug%>">
              <h4 class="showcase-title"><%= product.title %></h4>
            </a>

            <a href="/products/<%=product.category.slug%>/<%=product._id%>" class="showcase-category"><%=product.category.title%></a>

            <div class="price-box">
              <% if (product.discount && product.discount> 0) { %>
                <span class="price">
                  <%=helper.addCommasToNumber(product.price - (product.price * (product.discount / 100)))%>
                </span>
                <del>
                  <%= helper.addCommasToNumber(product.price) %>
                </del>
                <% } else { %>
                  <span class="price">
                    <%=helper.addCommasToNumber(product.price)%>
                  </span>
                  <% } %>
            </div>

          </div>
        </div>
        <% } %>
        <% }) %>
      </div>

    </div>
  </div>

</div>