<div class="sidebar  has-scrollbar" data-mobile-menu>

  <div class="sidebar-category">

    <div class="sidebar-top">
      <h2 class="sidebar-title">Danh Mục</h2>

      <button class="sidebar-close-btn" data-mobile-menu-close-btn>
        <ion-icon name="close-outline"></ion-icon>
      </button>
    </div>

    <ul class="sidebar-menu-category-list">

      <% if (categories) { %>
      <% categories.filter(category => !category.group).forEach( groupCate => { %>
      <li class="sidebar-menu-category">

        <button class="sidebar-accordion-menu" data-accordion-btn>

          <div class="menu-title-flex">
            <img src="/images/icons/bag.svg" alt="bags" class="menu-title-img" width="20" height="20">

            <a class="menu-title" href="/products/<%= groupCate.slug %>">
                <%= groupCate.title %>
              </a>
          </div>

          <div>
            <ion-icon name="add-outline" class="add-icon"></ion-icon>
            <ion-icon name="remove-outline" class="remove-icon"></ion-icon>
          </div>

        </button>

        <ul class="sidebar-submenu-category-list" data-accordion>

          <% categories.filter(category => category.group && category.group === groupCate.title).forEach( category=> { %>
          <li class="sidebar-submenu-category">
            <a href="/products/<%= category.slug %>" class="sidebar-submenu-title">
              <span class="product-name"><%= category.title %></span>
              <data value="<%= category.productCount %>" class="stock" title="Available Stock">(<%= category.productCount %>)</data>
            </a>
          </li>
          <% }) %>

        </ul>

      </li>
      <% }) %>
      <% } %>

    </ul>

  </div>

  <div class="product-showcase">

    <a class="showcase-heading" href="/products?filter=best-seller">Bán Chạy</a>

    <div class="showcase-wrapper">

      <div class="showcase-container">

        <% productsBestSellers.forEach((product) => { %>
        <div class="showcase">

          <a href="/products/<%=product.category.slug%>/<%=product._id%>" class="showcase-img-box">
            <img src="<%= product.imagePath %>" alt="<%= product.title %>" width="75" height="75" class="showcase-img">
          </a>

          <div class="showcase-content">

            <a href="/products/<%=product.category.slug%>/<%=product._id%>">
              <h4 class="showcase-title"><%= product.title %></h4>
            </a>

            <div class="showcase-rating">
              <% for (let i = 1; i <= 5; i++) { %>
                <% if (product.rating >= i) { %>
                  <% if (i < product.rating && product.rating < i + 1) { %>
                    <ion-icon name="star-half-outline"></ion-icon>
                  <% } else { %>
                    <ion-icon name="star"></ion-icon>
                  <% } %>
                <% } else { %>
                  <ion-icon name="star-outline"></ion-icon>
                <% } %>
              <% } %>
            </div>

            <div class="price-box">
              <% if (product.discount && product.discount> 0) { %>
                <del>
                  <%= helper.addCommasToNumber(product.price) %>
                </del>
                <span class="price">
                  <%=helper.addCommasToNumber(product.price - (product.price * (product.discount / 100)))%>
                </span>
                <% } else { %>
                  <span class="price">
                    <%=helper.addCommasToNumber(product.price)%>
                  </span>
                  <% } %>
            </div>

          </div>

        </div>
        <% }) %>

      </div>

    </div>

  </div>

</div>