<%- include ../partials/header %>

<!-- MAIN -->
<main>
  <div class="container mt-5 mb-5">

    <!-- Flash messages -->
    <div class="row mt-3 mb-3">
      <div class="col-md-8 m-auto">
        <% if (successMsg) { %>
        <div id="success" class="alert alert-success">
          <%= successMsg %>
        </div>
        <% } else { %>
        <div id="success" class="alert alert-success d-none"></div>
        <% } %>
      </div>
      <div class="col-md-8 m-auto">
        <% if (errorMsg) { %>
        <div id="error" class="alert alert-danger">
          <%= errorMsg %>
        </div>
        <% } else { %>
        <div id="error" class="alert alert-danger d-none"></div>
        <% } %>
      </div>
    </div>
    
    <!-- User's orders -->
    <div class="row mt-4">
      <div class="col-md-8 m-auto">
        <% if (orders != null && orders.length > 0) { %>
        <h4>Đơn Mua</h4>
        <hr>

        <% orders.forEach( order => { %>
        <div class="card mb-3">
          <div class="card-header">
            <span class="<%= order.delivered ? 'text-success' : 'text-warning' %>">
              <%= order.delivered ? 'Giao hàng thành công' : 'Đang giao hàng' %>
            </span>
          </div>
          <div class="card-body">
            <p class="card-text ">
            <ul class="list-group">
              <% order.cart.items.forEach( item => { %>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <%= item.title %> | <%= item.qty %> Sản Phẩm
                <span class="badge badge-info badge-pill">
                  <%= helper.addCommasToNumber(item.price - (item.price * (item.discount / 100))) %>
                  <%= item.discount > 0 ? ` (-${item.discount}%)` : '' %>
                </span>
              </li>
              <%}) %>
            </ul>
            </p>
          </div>
          <div class="card-footer d-flex justify-content-between">
            <strong>Tổng Đơn: <%= helper.addCommasToNumber(order.cart.totalCost) %></strong>
            <span><%= helper.formatDateTime(order.createdAt) %></span>
          </div>
        </div>
        <%}) %>
        <%} else { %>
        <h4>Đơn Mua</h4>
        <hr>
        
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">Bạn không có đơn hàng nào</h5>
            <a href="/products/" class="btn btn-primary">Mua Hàng Ngay</a>
          </div>
          <div class="card-footer text-body-secondary">
            <a href="/">Quay Lại Trang Chủ</a>
          </div>
        </div>
         
        <%} %>
      </div>
    </div>

  </div>
</main>

<%- include ../partials/footer %>