<%- include ../partials/header %>

<!-- MAIN -->
<main>
  <div class="container mt-5 mb-5">

    <!-- Flash messages -->
    <div class="row mt-3 mb-3">
      <div class="col-md-8 m-auto">
        <% if (successMsg) { %>
        <div id="success" class="alert alert-success">
          <%= successMsg %>
        </div>
        <% } else { %>
        <div id="success" class="alert alert-success d-none"></div>
        <% } %>
      </div>
      <div class="col-md-8 m-auto">
        <% if (errorMsg) { %>
        <div id="error" class="alert alert-danger">
          <%= errorMsg %>
        </div>
        <% } else { %>
        <div id="error" class="alert alert-danger d-none"></div>
        <% } %>
      </div>
    </div>
    
    <!-- User's orders -->
    <div class="row mt-4">
      <div class="col-md-8 m-auto">
        <% if (orders != null && orders.length > 0) { %>
        <h3>Đơn Mua</h3>
        <hr>

        <% orders.forEach( order => { %>
        <div class="card mb-3">
          <div class="card-header">
            <span class="<%= order.delivered ? 'text-success' : 'text-warning' %>">
              <%= order.delivered ? 'Giao hàng thành công' : 'Đang giao hàng' %>
            </span>
          </div>
          <div class="card-body">
            <p class="card-text ">
            <ul class="list-group">
              <% order.cart.items.forEach( item => { %>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <%= item.title %> | <%= item.qty %> Sản Phẩm
                <span class="badge badge-info badge-pill">$ <%= item.price %></span>
              </li>
              <%}) %>
            </ul>
            </p>
          </div>
          <div class="card-footer d-flex justify-content-between">
            <strong>Tổng giá: <%= order.cart.totalCost %>đ</strong>
            <span><%= order.createdAt.toLocaleString() %></span>
          </div>
        </div>
        <%}) %>
        <%} else { %>
        <h3 class="text-center">Bạn không có đơn hàng nào</h3>
        <%} %>
      </div>
    </div>

  </div>
</main>

<%- include ../partials/footer %>