<%- include ../partials/header %>

<!-- MAIN -->
<main>

  <!-- Flash messages -->
  <div class="container">
    <%- include ../partials/flash-message %>
  </div>

  <!-- BANNER -->
  <%- include ../partials/banner %>

  <!-- CATEGORY -->
  <%- include ../partials/category %>

  <!-- PRODUCT -->
  <div class="product-container">
    <div class="container">

      <!-- SIDEBAR -->
      <%- include ../partials/product-sidebar %>

      <div class="product-box">

        <!-- PRODUCT MINIMAL -->
        <%- include ../partials/product-minimal %>

        <!-- PRODUCT FEATURED -->
        <%- include ../partials/product-featured %>

        <!-- PRODUCT GRID -->
        <%- include ../partials/product-grid %>
        
        <a class="text-center" href="/products/">Xem tất cả</a>


      </div>

    </div>

  </div>

  <!-- TESTIMONIALS, CTA & SERVICE -->
  <%- include ../partials/testimonials-cta-service %>

  <!-- BLOG -->
  <%- include ../partials/blog %>

</main>

<%- include ../partials/footer %>