<%- include ../partials/header %>

<!-- MAIN -->
<main>
  <div class="container cart mt-5 mb-5">

    <% if (cart != null && !cart.paid ) { %>
    <div class="row">
      <div class="col-md-11 col-sm-12 m-auto table-responsive">
        <table class="table text-center">
          <thead>
            <tr>
              <th>Sản Phẩm</th>
              <th>&nbsp;</th>
              <th>&nbsp;</th>
              <th>Số Lượng</th>
              <th>&nbsp;</th>
              <th>Đơn Giá</th>
              <th>Thành Tiền</th>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <% products.forEach( product => { %> <% if(product != null) {%>
            <tr class="my-auto">
              <td>
                <a href="/products/<%=product.category.slug%>/<%=product._id%>">
                  <img src="<%=product.imagePath%>" class="img-small image-fluid" alt="image thumbnail" width="100" />
                </a>
              </td>

              <td>
                <div class="float-left mb-3">
                  <a class="title-link" href="/products/<%=product.category.slug%>/<%=product._id%>">
                    <h6 class="text-left"><%= product.title %></h6>
                    <p class="text-left">Mã Sản Phẩm: <%= product.productCode %></p>
                </div>
              </td>

              <td class="text-center">
                <a href="/reduce/<%=product._id%>"><i class="fa fa-minus-square" aria-hidden="true"></i></a>
              </td>

              <td class="text-center"><%= product.qty %></td>

              <td class="text-center">
                <a href="/add-to-cart/<%=product._id%>"><i class="fa fa-plus-square" aria-hidden="true"></i> </a>
              </td>

              <td>
                <%=helper.addCommasToNumber(product.price - (product.price * (product.discount / 100)))%>
                <%= product.discount > 0 ? ` (-${product.discount}%)` : '' %>
              </td>

              <td><%= helper.addCommasToNumber(product.totalPrice) %></td>

              <td>
                <a href="/removeAll/<%=product._id%>" class="btn btn-danger btn-sm button-style-danger">Xóa</a>
              </td>

            </tr>
            <% } %> <% }) %>
          </tbody>
        </table>
      </div>
    </div>
    
    <hr>

    <div class="row mb-2 text-right">
      <div class="col-md-11 col-sm-12 m-auto">
        <strong>Tổng Tiền: <%= helper.addCommasToNumber(cart.totalCost) %> </strong>
      </div>
    </div>
    <div class="row text-right">
      <div class="col-md-11 col-sm-12 m-auto">
        <a href="/checkout" class="btn btn-dark button-style">Thanh Toán</a>
      </div>
    </div>
    <% } else { %>
    <div class="row text-center">
      <div class="col-md-9 col-sm-9 m-auto">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">Không có sản phẩm nào trong giỏ hàng</h5>
            <a href="/products/" class="btn btn-primary">Thêm Mới Sản Phẩm</a>
          </div>
          <div class="card-footer text-body-secondary">
            <a href="/">Quay Lại Trang Chủ</a>
          </div>
        </div>
      </div>
    </div>

    <% } %>

  </div>
</main>

<%- include ../partials/footer %>