<%- include ../partials/header %>

<!-- MAIN -->
<main>

  <!-- BANNER -->
  <%- include ../partials/banner %>

  <!-- CATEGORY -->
  <%- include ../partials/category %>

  <!-- BLOGS -->
  <div class="container blogs-container">
    <div class="container">

      <div class="blogs-wrapper">

        <!-- Flash messages -->
        <%- include ../partials/flash-message %>

        <!-- Breadcrumbs -->
        <%- include ../partials/breadcrumb %>

        <!-- BLOG -->
        <%- include ../partials/blog %>

        <%- include ../partials/pagination %>
      </div>

    </div>
  </div>

</main>

<%- include ../partials/footer %>