<%- include ../partials/header %>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-12 m-auto">
      <h1 class="mt-4 mb-4 text-center">Liên Hệ</h1>
      <!-- Flash message -->
      <% if (successMsg != null && successMsg) { %>
        <div id="success" class="alert alert-success">
          <%= successMsg %>
        </div>
        <% } %>
    </div>
    <div class="col-lg-8 col-md-12 text-justify m-auto">
      <!-- Introduction -->
    <div class="mt-4 mb-4">
      <p>
        Bạn luôn được chào đón để liên hệ với chúng tôi bất cứ lúc nào!
        <br />
        Vui lòng gửi email hoặc gọi điện cho chúng tôi bằng cách sử dụng thông tin liên hệ bên dưới.
        <br />
        Bạn cũng có thể ghé thăm hoặc gọi cho chúng tôi bất cứ lúc nào trong giờ làm việc từ <i>Thứ 2 đến Thứ 6: 7h đến 20h</i>. 
        <br />
        Chúng tôi trả lời email của mình ngay cả trong những ngày cuối tuần. Vì vậy xin vui lòng liên hệ với chúng tôi.
      </p>
    </div>
      <!-- Email contacts -->
      <div class="mt-4 mb-4">
        <p>
          <h6><i>Liên hệ qua Email:</i></h6>
        </p>
        <p>
          Đối với các yêu cầu chung:
          <a href="mailto:general@nongsanmiennam.com">
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <u>general@nongsanmiennam.com</u>
          </a>
        </p>
        <p>
          Đối với các vấn đề đặt hàng:
          <a href="mailto:orders@nongsanmiennam.com">
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <u>orders@nongsanmiennam.com</u>
          </a>
        </p>
        <p>
          Cho hỗ trợ kĩ thuật:
          <a href="mailto:support@nongsanmiennam.com">
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <u>support@nongsanmiennam.com</u>
          </a>
        </p>
        <p>
          Đăng kí bán hàng:
          <a href="mailto:sales@nongsanmiennam.com">
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <u>sales@nongsanmiennam.com</u>
          </a>
        </p>
      </div>
      <!-- Phone contacts -->
      <div class="mt-4 mb-4">
        <p>
          <h6><i>Liên hệ qua số điện thoại:</i></h6>
        </p>
        <p>
          Call center phone 1:
          <a href="tel:0123-456-489">
            <i class="fa fa-phone" aria-hidden="true"></i>
            0123-456-489
           </a>
        </p>
      </div>
    </div>

    <!-- Contact us form -->
    <div class="col-lg-8 col-md-12 m-auto">
      <div class="mt-5 mb-4">
        <h2>Nội dung liên hệ</h2>
        <!-- Error flash message -->
        <% if(errorMsg!=null && errorMsg.length>0) {%>
          <div id="flash-msg" class="alert alert-danger">
            <% errorMsg.forEach((message) => { %>
            <p>
              <%=message %>
            </p>
            <%}) %>
          </div>
          <%}%>
        <form action="/pages/contact-us" method="POST">
          <div class="form-group">
            <label for="name">Tên của bạn</label>
            <input type="name" class="form-control" name="name" id="name" required />
          </div>
          <div class="form-group">
            <label for="email">Địa chỉ Email</label>
            <input type="email" class="form-control" name="email" id="email" required />
          </div>
          <div class="form-group">
            <label for="message">Nội dung</label>
            <textarea class="form-control" name="message" id="message" rows="5" placeholder="Nhập nội dung liên hệ tại đây..." required></textarea>
          </div>
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
          <button type="submit" class="btn btn-primary button-style">
            Gửi
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<%- include ../partials/footer %>
